@use "variables";
@font-face{
    font-family: "RIT-Kutty-Bold";
    src: local("RIT-Kutty-Bold"),
    	 url("../fonts/RIT-Kutty-Bold.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    unicode-range: U+0D30 - 0D3F, U+0D10 - 0D1F,U+0D70 - 0D7F;
}
[lang = 'ml']
{
  font-family: 'RIT-Kutty-Bold';
}
html {
border-top: 3px solid variables.$teal200;
scroll-behavior: smooth;
font-family: sans-serif;
}
body {
    color: variables.$textDark;
    font-size: 1.15rem;
    line-height: 1.5;
    background-color: variables.$backgroundDark;
    padding: 1rem;
    margin: 0 auto;
    max-width: 43rem;
}
a {
  color: variables.$teal200;
  &:hover {
  text-decoration: none;
  }
}
blockquote {
  border-inline-start: 0.35rem solid variables.$teal200;
  font-style: italic;
  padding: 0.4rem 0.8rem;
}
.title{
	color: variables.$teal200;
}
#readmore {
  text-align: center;
}
/* Format headers from simplecss*/
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
  margin-top: 3rem;
}

h3 {
  font-size: 2rem;
  margin-top: 3rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 0.96rem;
}
p {
  margin: 1.5rem 0;
}
h1,
h2,
h3 {
  line-height: 1.1;
}
/* Reduce header size on mobile - from simplecss*/
@media only screen and (max-width: 720px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.1rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.25rem;
  }
}
.linkTitle {
  margin: 0;
}
.linkMeta {
  margin: 0;
}
.linkArticle {
  background-color: #2d2d2d;
  padding: 0.8rem;
  border-radius: 7px;
  margin-top: 1rem;
}
img {
  max-width: 100%;
  height: auto;
}
figure {
  margin: 0;
}
figcaption {
  text-align: center;
  font-size: 0.9rem;
}
aside {
  display: flex;
  gap: 10px;
}
