@use "./utils/variables";

body {
  font-family: v.$fontParagraph;
  color: v.$white;
  background-color: v.$backgroundDark;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1.3rem;
  line-height: 1.5;
}

a {
  color: v.$orange;
}

pre code {
  font-family: v.$fontCode;
  font-size: 75%;
  display: block;
  background: v.$backgroundDarker;
  padding: 10px;
  overflow: auto;
}

code {
  font-family: v.$fontCode;
  font-size: 75%;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: v.$fontHeader;
  }
}

@-ms-viewport{
  width: device-width;
}
