@use "variables";
header {
    margin-bottom: 3rem;
    padding: 0;
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.25rem;
        list-style-type: none;
        padding:0;
        a {
            color: inherit;
            padding: .375rem .625rem;
            background: variables.$teal800;
            border-radius: 7px;
            text-decoration: none;
            &:hover {
                background: variables.$teal600;
            }
        }
    }
}
.logo {
font-size: 3.5rem;
text-align: center;
margin: 0;
}

