.postItem {
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid;
    text-overflow: ellipsis;
}
.postItem a {
    display: inline-block
}
.postList {
    padding:0;
}
.postTime {
    font-size: smaller;
}
