@font-face{
    font-family: "Fira Mono";
    src: url("../fonts/FiraMono/FiraMono-Medium.eot");
    src: local("Fira Mono"),
         url("../fonts/FiraMono/FiraMono-Medium.eot") format("embedded-opentype"),
         url("../fonts/FiraMono/FiraMono-Medium.woff") format("woff"),
         url("../fonts/FiraMono/FiraMono-Medium.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'GeneralSans';
    src: url('../fonts/GeneralSans/GeneralSans-Variable.woff2') format('woff2'),
         url('../fonts/GeneralSans/GeneralSans-Variable.woff') format('woff');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}
  

