// Colors
$darkGrey: #323232;
$white: #fafafa;
$black: #2f2f2f;
$blue: #3366cc;

$backgroundDarker: #222222;
$backgroundDark: #2d2d2d;

//Fonts
$fontHeader: 'Fira Mono', monospace;
$fontParagraph: 'Open Sans', sans-serif;
$fontCode: 'Fira Mono', monospace;

// Content
$breakLarge: 992px;
$width: 760px;
