// Colors
$darkGrey: #323232;
$white: #eceff4;
$black: #2f2f2f;
$blue: #3366cc;
$orange: #88c0d0;
$pink: #ebcb8b;
$lightpurple:#a3be8c;

$backgroundDark: #2e3440;
$backgroundDarker: #3b4252;

//Fonts
$fontHeader: 'Fira Mono', monospace;
$fontParagraph: 'Open Sans', sans-serif;
$fontCode: 'Fira Mono', monospace;

// Content
$breakLarge: 992px;
$width: 760px;
