@use "../utils/variables" as v;

.header {
  font-family: v.$fontHeader;
  font-size: 1.1rem;
  padding: 0 20px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: v.$width;
}

.headerWrapper {
  overflow: auto;
  box-sizing: border-box;
  background-color: v.$backgroundDarker;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

.headerLinks {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: inline;
      margin: 5px;
      a {
        color: v.$white;
      }
      a:hover {
      color: v.$link_hover_color;
      }
    }
  }
}
.terminal {
  font-size: 1.1rem;
}
.terminal a{
  color: v.$white;
  text-decoration: none;
}
.terminal a:hover {
  color: v.$h1_header_color;
}

