@import "../utils/variables";

.header {
  font-family: $fontHeader;
  font-size: 1.1rem;
  padding: 0 20px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: $width;
}

.headerWrapper {
  overflow: auto;
  box-sizing: border-box;
  background-color: $backgroundDarker;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

.headerLinks {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: inline;
      margin: 5px;
      a {
        color: $white;
      }
      a:hover {
      color: $link_hover_color;
      }
    }
  }
}
.terminal {
  font-size: 1.1rem;
}
.terminal a{
  color: $white;
  text-decoration: none;
}
.terminal a:hover {
  color: $h1_header_color;
}

