@import "../utils/variables";

.postDate {
  float: right;
  color: $white;
}

.postTitle {
  color: $orange;
  text-transform: capitalize;
  font-family: $fontHeader;
  margin: 0;
}

.postHeader {
 overflow:hidden;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: baseline;
}

.postsList {
  margin-top: 20px;
}

.postListItem {
  padding: 20px;
  background-color: $backgroundDarker;
  margin-bottom: 20px;
}

.postExcerpt {
  text-align: initial;
  text-decoration: none;
  color: $white;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}

.noDecoration {
  text-decoration: none;
}

a,
a:link,
a:visited,
a:hover,
a:active{
  text-decoration: none;
}
