@use "../utils/variables";

.postDate {
  float: right;
  color: $white;
}

.postTitle {
  color: $orange;
  text-transform: capitalize;
  font-family: $fontHeader;
  font-size: 1.25rem;
  margin: 0;
}

.postHeader {
 overflow:hidden;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: baseline;
}

.postsList {
  margin-top: 20px;
}

.postListItem {
  padding: 20px;
  background-color: $backgroundDarker;
  margin-bottom: 20px;
}

.postExcerpt {
  text-align: initial;
  text-decoration: none;
  color: $white;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}

.noDecoration {
  text-decoration: none;
}

a:hover {
  color: $link_hover_color;
};
