{{ define "title"}}
{{ .Title }} | {{ .Site.Params.author.name }}
{{ end }}
{{ define "main"}}
<h1>{{ .Title }}</h1>
    <dl class="fullPageMenuList">
        <dt><a href="/posts">Posts</a></dt>
        <dd>My blog posts</dd>
        <dt><a href="/til">Wiki</a></dt>
        <dd>Things that I have learned.</dd>
        <dt><a href="/now">Now</a></dt>
        <dd>What I am up to these days</dd>
        <dt><a href="/interests">Interests</a></dt>
        <dd>Things that I love</dd>
        <dt><a href="/about">About</a></dt>
        <dd>All about me</dd>
        <dt><a href="/contact">Contact</a> </dt>
        <dd>How to get in touch with me</dd>
    </dl>
{{ end }}