{{ define "title"}} {{ .Title }} | {{ .Site.Params.author.name }} {{ end }} {{
define "main" }} {{ $date := .Date.Format "02.01.2006" }} {{ $lastmod :=
.Lastmod.Format "02.01.2006" }}
<article>
    <header class="postHeader">
        <h1>{{ .Title }}</h1>
        <time datetime="{{ .Date.Format "2006-01-02"}}">{{ .Date.Format "Jan 2, 2006" }}</time>

        {{ if .Description }}
        <p>{{ .Description }}</p>
        {{ end }}
    </header>
    {{ .Content }} {{ if ne $lastmod $date }}
    <em>Last Updated On: {{ .Lastmod.Format "Mon Jan 2, 2006" }}</em>
    {{ end }}
</article>
<p>
    <a
        href="mailto: {{ .Site.Params.author.email }}?subject={{ .Title }}&body=post-link:{{ .Permalink }}">Comment
        via Email</a>
</p>
<p><a href="/index.xml">RSS Feed</a></p>
{{ end }}
