{{ define "title"}}
    {{ .Title }} | {{ .Site.Params.author.name }}
{{ end }}
{{ define "main" }}
    {{ $date := .Date.Format "02.01.2006" }}
    {{ $lastmod := .Lastmod.Format "02.01.2006" }}
        <article>
            <div class="postHeader">
            <h2 class = "postTitle">{{ .Title }}</h2>
            <p class="postMeta"><strong>Posted On:</strong> {{ .Date.Format "Mon Jan 2, 2006" }} </p>

            {{ if .Description }}
                <p>{{ .Description }}</p>
            {{ end }}
            </div>
            {{ .Content }}
            {{ if ne $lastmod $date }} 
            <em>Last Updated On: {{ .Lastmod.Format "Mon Jan 2, 2006" }}</em>
            {{ end }}
        </article>
        <p><a href = "mailto: {{ .Site.Params.author.email }}?subject={{ .Title }}&body=post-link:{{ .Permalink }}">Comment via Email</p>
        <p><a href = "/index.xml">RSS Feed</a></p>
{{ end }}
