<header class="headerWrapper">
    <div class="header">
        <div>
		<h1 class="terminal"><a href="{{ .Site.BaseURL }}">{{ .Site.Params.user }} ~ $</a></h1>
        </div>
        <nav class="headerLinks">
            <ul>
                {{ range .Site.Menus.header }}
                <li>
                    <a href="{{ .URL | absURL }}" title="{{ .Title }}" >
                        ~/{{- .Name -}}
                    </a>
                </li>
                {{ end }}
            </ul>
        </nav>
    </div>
</header>
