<header>
    <p id="logo" lang="ml"><a href="/" title="My name written in my mother tongue, Malayalam. Click on it to go home">വചൻ</a></p>
    <nav>
        <ul>
            <li>
                <a href="/menu" class="menuItem">menu</a>
            </li>
            {{ range .Site.Menus.header }}
            <li>
                <a href="{{ .URL }}" class="menuHideItem">
                    {{- .Name -}}
                </a>
            </li>
            {{ end }}
        </ul>
    </nav>
</header>
