<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{.Description | default .Site.Params.Description}}">
<meta name="author" content="Vachan S Panicker">
<link rel="stylesheet" href="{{ "style.css" | relURL }}" />
<meta name="fediverse:creator" content="@nattukaran@fosstodon.org" />
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
<link rel="canonical" href="{{ .Permalink }}">
<link rel="prefetch" href="/menu.html" as="document">
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.2/dist/confetti.browser.min.js"></script>
{{ partial "schema.html" . }}