<header>
    <h1 class = "logo" lang = "ml"><a href="/">വചൻ</a></h1>
   <nav>
        <ul>
            <li>
                <a href="#" class="menuItem">Menu</a>
            </li>
            {{ range .Site.Menus.header }}
                <li>
                    <a href="{{ .URL }}" class="menuHideItem">
                        {{- .Name -}}
                    </a>
                </li>
                {{ end }}
                <li class="menuHideItem" onclick="confetti({
                    spread: 180,
                    particleCount: 200
                  });">🥳</li>
            </ul>
        </nav>
</header>
