{{ if .IsHome -}}
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "website",
        "name": "{{ .Site.Title }}",
        "url": "{{ .Site.BaseURL }}",
        "description": "{{ .Site.Params.description }}",
        "thumbnailUrl": "{{ .Site.Params.Logo | absURL }}",
        "license": "{{ .Site.Params.Copyright }}"
    }
    </script>
    {{ else if .IsPage }}
    {{ $author :=  or (.Params.author) (.Site.Author.name) }}
    {{ $org_name :=  .Site.Title }}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "BlogPosting",
            "name": "{{ .Title }}",
            "headline": "{{ .Title }}"
            "url": "{{ .Permalink }}",
            "description": "{{ .Params.Description }}",
            "about": {
              "@type": "{{ .Title }}",
              "description": "{{ .Description }}"
            }
        }
    </script>    
{{ end }}