<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <title>
        {{ i18n "home" }} | {{ .Site.Params.author.name }}
    </title>

    {{ partial "head.html" . }}

</head>

<body>
    {{ partial "header.html" . }}
    <main>
        <div class="intro">
            <img src="https://pxscdn.com/public/m/_v2/254106472768737280/bf1ba8b1c-ed24ad/3i7yTsNPV6Bx/EbXY95CpAjhrsQliZzvFUqpQubJmQYMr4ZIX3aDR.jpg"/>
            <div class="child">
            {{ .Content }}
            </div>
        </div>
        <section>
            {{ partial "recentPosts.html" . }}
            {{ partial "recentLinks.html" .}}
        </section>
    </main>
    {{ partial "footer.html"}}
</body>

</html>