:root {
    --bg-color:#111a24;
    --text-color:#ffffff;
    --border-bg-color: 3px solid #f8ee00;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color:var(--bg-color) ;
}
header {
    align-items: center;
    border: var(--border-bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem auto;
    padding: 1rem;
    text-transform: lowercase;
    width:75%;
}
header > h1 {
    color: #f8ee00;
}
nav {
    display: flex;
    flex-direction: row;
}
nav ul{
    display: flex;
    flex-direction: row;
    gap:1rem;
    list-style-type: none;
}
nav ul a {
    text-decoration: none;
}