@import url(https://fonts.bunny.net/css?family=merriweather:400|work-sans:400,800);
@font-face{
    font-family: "RIT-Kutty-Bold";
    src: local("RIT-Kutty-Bold"),
    	 url("../fonts/RIT-Kutty-Bold.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
[lang = 'ml']
{
  font-family: 'RIT-Kutty-Bold',"Noto Sans Malayalam",system;
}
:root {
    --bg-color: #212121;
    --secondary-bg-color: #2b2b2b;
    --accent-color: #ffe1db;
    --text-color: #f8f8f2;
    --border-bg-color: 3px solid var(--yellow);
    --box-shadow:4px 6px 0px 0px var(--accent-color);
    --yellow: #f1fa8c;
    --red: #ff5555;
    --cyan: #8BE9FD;
}
@media (prefers-color-scheme: light) {
    :root {
    --bg-color: #efefef;
    --secondary-bg-color:#e3dff2;
    --accent-color:#212121;
    --text-color: #212121;
    }

    
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.logo a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 800;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Work Sans',sans-serif,-apple-system,system;
    font-size: 1.2rem;
    line-height: 1.6;
    height:100%;
}
main {
    margin: 0 auto;
    max-width: 50rem;
    padding: 0 1rem;
    min-height: 67vh;
}
h1 {
    font-size: 2.6rem;
}
h2 {
    font-size: 2.1rem;
    margin-bottom: 1rem;
}
h3 {
    font-size: 1.6rem;
}
h4 {
    font-size: 1.1rem;
}
h5 {
    font-size: 0.6rem;
}
h6 {
    font-size: 0.3rem;
}
main, article > p {
    margin: 1.5rem auto;
}
header {
    align-items: center;
    background-color: var(--secondary-bg-color);
    border-bottom: 2px solid var(--accent-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
    width: 100%;
}
nav ul {
    display: flex;
    list-style-type: none;

}
nav ul a {
    text-decoration: none;
    text-transform: lowercase;
    padding: 1rem;
}
nav ul a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 3px;
}
a, a:visited {
    color: var(--text-color);
}
ul {
    list-style-position: inside;
}
figure {
    margin: 3rem auto;
}
figcaption {
    font-style: italic;
    text-align: center;
}
img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
.intro {
    align-items: center;
    display: flex;
    background-color: var(--secondary-bg-color);
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    gap: 2rem;
    justify-content: center;
    margin: 2rem auto;
    padding: 3rem;
}
.postList {
    padding: 0 1rem;
    margin-bottom: 2rem;
}
.postItem {
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.postTime {
    font-size: smaller;
}
.postTitle {
    margin: 0;
}
.postMeta{
    margin-bottom: 1rem;
}
.postHeader {
    border-bottom: 1px solid var(--accent-color);
}
footer {
    background-color: var(--secondary-bg-color);
    border-top: 5px solid var(--accent-color);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuItem {
    display: none;
}
.menuList {
    list-style-type: none;
}
@media (max-width: 768px) {
    .intro {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .intro img {
        width: 75%;
        height: auto;
    }
    .postList {
        display: flex;
        flex-direction: column;
    }
    .menuHideItem {
        display: none;
    }
    .menuItem {
        display: block;
    }
}