@font-face{
    font-family: "RIT-Kutty-Bold";
    src: local("RIT-Kutty-Bold"),
    	 url("../fonts/RIT-Kutty-Bold.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    unicode-range: U+0D30 - 0D3F, U+0D10 - 0D1F,U+0D70 - 0D7F;
}
[lang = 'ml']
{
  font-family: 'RIT-Kutty-Bold';
}
:root {
    --bg-color:#111a24;
    --text-color:#ffffff;
    --border-bg-color: 3px solid #f8ee00;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color:var(--bg-color) ;
    color: white;
}
header {
    align-items: center;
    border: var(--border-bg-color);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem auto;
    text-transform: lowercase;
    width:75%;
}
nav {
    display: flex;
    flex-direction: row;
}
nav ul{
    display: flex;
    flex-direction: row;
    gap:1rem;
    list-style-type: none;
}
nav ul a {
    text-decoration: none;
}
main {
    padding: 1rem 5rem;
}