{{ define "main"}}
<h2 class="title">{{ .Title }}</h2>
<p>{{ .Description }}</p>
{{ range .Pages.GroupByPublishDate "2006" }}
<h3>{{ .Key }}</h3>
{{ range .Pages}}
{{ $formattedDate := .Date.Format "2006-01-02"}}
<article class="linkArticle">

    <h4 class="linkTitle"><a href="{{ .Params.link }}"> {{.Title }}</a></h4>
    <p class = "linkMeta">{{ .Params.author.name }} |  <time datetime="{{$formattedDate}}" class = "postTime">{{ .Date.Format "Jan 2" }}</time></p>
    <p>{{ .Content }}</p>

</article>
{{ end }}
{{ end }}
{{ end }}
